body {
    background-color:#E9E9E9;
    color:#FFFFFF;
    text-align:center;
    font-family: 'Didact Gothic';
    font-size: 22px;
  }
.content {
    background-color: #2B2D42;
    margin-bottom:15px;
    border-bottom: solid #BC2E69;
    border-radius: 7px;
  }
a {
    color: #FFFFFF;
}
.error {
  color: lightcoral;
  display: inline;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  margin: 0.5em;
}
@media (max-width: 800px) {
  .row {
    flex-direction: column;
  }
}